<h1>Create New Shelter</h1>

<%= render partial: 'form', locals: { path: "/shelters/new",
                                      method: :post,
                                      button_text: "Create new shelter"
                                    } %>
