<h1>Add a new pet to <%= @shelter.name%></h1>
<%= render partial: 'form', locals: { path: "/shelters/#{@shelter.id}/pets",
                                      method: :post,
                                      button_text: "Create new pet"
                                    } %>
