/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  background-color: #e5e6e1;
  font-family: 'Alegreya Sans', sans-serif;

}

p1 {
  font-weight: bold;
   display: inline-block;
}
p {
   display: inline-block;
}

img {
  height: 400px;
  width: 400px
}

nav_items {
  list-style-type: none;
  padding: 0 20px 0 0;
  display: inline-table;
  font-size: 20px;
  position: sticky;
}

nav {
  list-style-type: none;
  padding: 0;
  width: 25%;
  background-color: #e5e6e1;
}
input[type=text] {
  background-color: white;
}

h3 {
  font-size: 24px;
  padding: 10px 0;
  margin: 0;
}

h4 {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

h5 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}
