<h1> Edit review for <%= @shelter_id %> </h1>
<%= render partial: 'form', locals: { path: "/shelters/#{@shelter_id}/#{@review.id}/edit",
                                      method: :patch,
                                      button_text: "Edit review"
                                    } %>
